html,
body {
  min-height: 100%;
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  min-height: 100vh;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
#header {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #1c7dfc;
}
#header li a,
#header li {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
img{
  border-radius: 120px;
}
button{
  all: unset;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #4c1d95;
  color: white;
  font-weight: 600;
}
button:hover{
  cursor: pointer;
  text-decoration: underline;
}
.blog-itens{
  padding: 0;
}
.blog-item{
  max-width: fit-content;
  list-style: none;
  transition: 0.3s ease;
}
.blog-item:hover{
  background-color: #e7eef8;
  border-radius: 50px;
  transform: translateX(20px);
}
.dark .blog-item:hover{
  background-color: #fff;
}
.blog-item a:before{
  content: "⤀";
  color: #1c7dfc;
  margin-right: .5rem;
}
.dark   .blog-item a{
  color: #1c7dfc;
}
.blog-item a{
  color: #111111;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}
.tag a {
    display: inline-block;
    color: #0a418a;
    text-decoration: none;
    padding: 0.5em 1em;
  }
  .tag a:hover{
    text-decoration: underline;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag{
    margin: 0.25em;
    border-radius: 50px;
    font-size: 1.15em;
    background-color: #f1f6fd;
  }
footer {
  text-align: center;
  background-color: #1c7dfc;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-radius: 50px;
  margin-top: 2rem;
  padding: 0.25rem 0.50rem;
}
footer p{
  padding-left: 0.5rem;
  
}
footer p a{
  color: rgb(0, 255, 255);
  text-decoration: none;
}
footer p a:hover{
  text-decoration: underline;
}
footer div a{
  border-radius: 50px;
  margin: 0.2rem;
  
}
footer div a:hover{
  text-decoration: underline;
}
/* estilos da navegação */
/* estilos da navegação */
.menu {
  background-color: #111111;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}
#main-menu {
  display: flex;
  justify-content: center;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #111111;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #1c7dfc;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}
html.dark {
  background-color: #111111;
  color: #fff;
}

.dark .menu {
  background-color: #fff;
  color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #111111;
}

.dark .nav-links a {
  color: #fff;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 30px;
  }

  .menu {
    display: none;
  }
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #1c7dfc;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }


  .nav-links a {
    display: inline-block;
    padding: 15px 30px;
  }
}
