---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Início</a>
    <a href="/about">Sobre</a>
    <a href="/blog">Blog</a>

    <h1>Sobre mim</h1>
    <h2>
      Este projeto tem como finalidade de aprender a estrutura do framework
      Astro.
    </h2>
    <p>
      Estou empolgado em aprender novas ferramentas para utilizar e evoluir os
      meus desenvolvimento de sites.
    </p>
    <p>
      Este site será atualizado enquanto eu completo mais desse tutorial, então
      continue verificando e veja como minha jornada está indo!
    </p>
  </body>
</html>
